@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.rbc-time-view {
    background-color: #0E172F;
    border-radius: 4px;
}

.rbc-btn-group button {
    background-color: #FFF;
}

.rbc-time-content,
.rbc-time-view,
.rbc-header,
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg,
.rbc-time-header-content,
.rbc-timeslot-group,
.rbc-time-content > * + * > *,
.rbc-day-slot .rbc-time-slot {
    border-color: #090F1F;
}

.rbc-header {
    color: #D6D6B1;
}
.rbc-label {
    font-weight: 500;
}

.rbc-allday-cell {
    display: none !important;
}